<a href="https://colab.research.google.com/github/u-adrian/PSDA/blob/main/01_Exercise/Aufgabe_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:


from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Aufgabe 4: Korrelation und Multikollinearität

a) Lesen Sie den Datensatz Credit.csv ein. Erkunden Sie die Daten und konvertieren Sie
gegebenenfalls kategorische Variablen in ein geeignetes Format (z. B. mit pandas.get_dummies()
oder sklearn.model_selection.OneHotEncoder()). Die Zielvariable des Datensatz ist Balance.

b) Separieren Sie den Datensatz in 80%-20% für Training und Testdatensatz. Was müssen Sie hier beachten?

c) Erstellen Sie aus der Variable Ethnicity drei binäre Variablen Ethnicity_Caucasian,
Ethnicity_Asian und Ethnicity_African. Führen Sie eine lineare Regression mit OLS als
Schätzer mit diesen Variablen und allen anderen Variablen (außer Limit) durch. Berechnen Sie
Root Mean Square Error (RMSE) zwischen der Vorhersage und den wahren Werten im Test-
Datensatz. Beschreiben Sie Ihre Ergebnisse.

d) Führen Sie die Analyse in 4c) erneut durch, ohne die Variable Ethnicity_Caucasian. Vergleichen
Sie diese Ergebnisse mit denen aus 4c).

e) Führen Sie eine lineare Regression (OLS) mit folgenden Variablen durch:
i. Income, Limit, Age

ii. Income, Rating, Age

iii. Income, Limit, Rating, Age

Beschreiben Sie die Koeffizienten, Konfidenzintervalle und Signifikanzniveau. Vergleichen Sie die
Ergebnisse.

f) Was ist Korrelation? Wann benutzt man Pearson Korrelation, Spearman Korrelation und Kendalls
Tau? Berechnen Sie Korrelationen zwischen allen Variablen im Trainings-Datensatz. Welche
Schlussfolgerung können Sie daraus ziehen?

g) Führen Sie die Analyse in 4e) mit Random Forest anstatt der linearen Regression durch. Variieren
Sie dabei den Parameter random_state mit den Werten {1, 33, 135, 123, 99, 22} und
einigen selbstgewählten Werten. Berechnen Sie MSE des Test-Datensatzes. Vergleichen Sie
Feature Importance. Welche Schlussfolgerung können Sie daraus ziehen?

h) Was ist Multikollinearität? Was sind ihre möglichen Ursachen und Auswirkungen? Wie kann man
sie erkennen? Welche Maßnahmen gibt es, wenn Variablen in den Daten kollinear sind?

a) Lesen Sie den Datensatz Credit.csv ein. Erkunden Sie die Daten und konvertieren Sie gegebenenfalls kategorische Variablen in ein geeignetes Format (z. B. mit pandas.get_dummies() oder sklearn.model_selection.OneHotEncoder()). Die Zielvariable des Datensatz ist Balance.

In [12]:
import pandas as pd

In [44]:
df = pd.read_csv("drive/My Drive/PSDA/01_Exercise/dataset/Credit.csv",index_col=0)
columns = ['Gender','Student','Married','Ethnicity']
for column in columns:
  df[column] = pd.factorize(df[column])[0]
df

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,14.891,3606,283,2,34,11,0,0,0,0,333
2,106.025,6645,483,3,82,15,1,1,0,1,903
3,104.593,7075,514,4,71,11,0,0,1,1,580
4,148.924,9504,681,3,36,11,1,0,1,1,964
5,55.882,4897,357,2,68,16,0,0,0,0,331
...,...,...,...,...,...,...,...,...,...,...,...
396,12.096,4100,307,3,32,13,0,0,0,0,560
397,13.364,3838,296,5,65,17,0,0,1,2,480
398,57.872,4171,321,5,67,12,1,0,0,0,138
399,37.728,2525,192,1,44,13,0,0,0,0,0
400,18.701,5524,415,5,64,7,1,0,1,1,966

In [48]:
X=df.drop(labels='Balance',axis=1)
y=df['Balance']

b) Separieren Sie den Datensatz in 80%-20% für Training und Testdatensatz. Was müssen Sie hier beachten?

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=21)
X_train

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
192,124.290,9560,701,3,52,17,1,1,1,1
279,128.040,6982,518,2,78,11,1,0,0,0
273,30.413,3690,299,2,25,15,1,1,1,1
129,123.299,8376,610,2,89,17,0,1,1,2
286,18.967,1626,156,2,41,11,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
369,89.000,5759,440,3,37,6,1,0,1,0
49,44.522,2252,205,6,72,15,0,0,0,1
261,67.937,5184,383,4,63,12,0,0,0,1
313,27.825,5227,386,6,63,11,0,0,0,0
208,10.842,4391,358,5,37,10,1,1,0,0